<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sihapp.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sihappweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sihappWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sihappWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SihappDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sihapp.WebProject.Models.ApplicationDbContext, Sihapp.WebProject" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Sihapp.WebProject.Backend.DataAccess.EntitiesRestore" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sihapp.WebProject.Backend.DataAccess.EntitiesRestore, Sihapp.WebProject" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SihappDBEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sihapp.WebProject.Backend.DataAccess.SihappDBEntities, Sihapp.WebProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sihapp.WebProject.Backend.DataAccess.EntitiesRestore-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SihappDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SihappDBEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Sihapp.WebProject.Backend.DataAccess.EntitiesRestore" />
  </ItemGroup>
</Project>