
@{
    ViewBag.Title = "Sihapp";
}

<div class="container">


    <h1 style="text-align:center">Equipo Sihapp</h1>
    <br />
    <br />

    <h2>CEO y Fundador</h2>

    <h2>Dirección estratégica</h2>

    <h2>Desarrollo y diseño</h2>


</div>