
@{
    ViewBag.Title = "Condiciones de uso";
}

<h3 style="text-align:center">Condiciones de uso</h3>

<p>
    <h4 style="text-align:justify">
        Por medio de este documento se declara que Sihapp no es una organización, empresa o razón social, es simplemente el nombre del proyecto.
        ("SIH", Por sus siglas en español: Sistema de información hospitalaria y "app" por aplicación)
    </h4>
</p>

<p>
    <h4 style="text-align:justify">
        El administrador del sistema no se hace responsable por el mal uso que se le de a esta plataforma, la cual está hecha con el objetivo
        de ayudar a la administración del área médica. Es responsabilidad del usuario cada acción que se realice con el sistema


    </h4>
</p>

<p>
    <h4 style="text-align:justify">
       Ésta aplicación será gratuita al menos hasta el 31 de Diciembre del 2018, antes de esta fecha queda estrictamente prohibido 
        distribuir este software con fines lucrativos o de recaudación, quien lo haga se hará responsable de lo establecido por cualquier
        ley que involucre la venta de software gratuito a terceros.

    </h4>
</p>

<p>
    <h4 style="text-align:justify">
        Del respaldo de la información: El administrador de Sihapp no se hará responsable por pérdida de datos causada por sus usuarios.
        En cuanto a la información de los usuarios y pacientes; no podrá ser revelado ningún dato para ningún fin estadístico o de cualquier
        índole.

        Sihapp tiene la responsabilidad de un respaldo de la base de datos cada domingo o en su defecto cada sábado, teniendo ésto como
        medida precautoria en caso de suspensión de servicio por el proveedor, Sihapp devolvería a sus usuarios toda la información
         por medio de una solicitud, ésto es ,una copia del último respaldo que se haya generado por el administrador.



    </h4>
</p>

<p>
    <h4  style="text-align:justify">
       De las contraseñas y accesos al sistema: Es responsabilidad del usuario el uso correcto de su cuenta y de mantener resguardada
        su contraseña, el adminsitrador del sistema no se hará responsable por la perdida de una contraseña, robo, acceso o modificación de 
        la misma.

        El sistema Sihapp no guarda las contraseñas en texto plano, las encripta con un proceso irreversible, si la contraseña es extraviada
        u olvidada por el usuario, tendrá que pedir un cambio de contraseña al correo sihapp.web@gmail.com desde el correo registrado como usuario 
        master o en su defecto, con una identificación adjunta en el correo.

    </h4>
</p>

<p>
    <h4 style="text-align:justify">
       Alcance del proyecto: Sihapp es un software para emprendedores dedicados al campo de la salud como médicos, dentistas, psicólogos, entre otros, así 
        como pequeñas clínicas. El sistema irá mejorando paulatinamente hasta ser capaz de sugerir horarios de pacientes, mostrar estados de cuentas de clientes
        y mandar recordatorios de las citas agendadas.

    </h4>
</p>

<p>
    <h4>
       *Al registrarte aceptas estas condiciones vigentes a partir del 24 de Agosto de 2017.

    </h4>
</p>

<p>
    <h5 style="text-align:right; font:bold">
        Administrador de Sihapp
        <br />
    </h5>
</p>




